/* body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #ecf2f4;
    margin-top: 4%;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 6%;
} */

#settings h1 {
    float: left;
}

#settings h3 {
    float: right;
    margin-top: 30px;
    cursor: pointer;
}

#settingsDiv {
    width: 100%;
    height: 700px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
}

#leftPanel {
    width: 20%;
    height: 100%;
    /* outline: 1px solid black; */
    text-align: center;
    border-right: 2px solid gray;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 1%;
    box-sizing: border-box;
}

.buttonText {
    border-bottom: 2px solid gray;
    display: flex;
    cursor: pointer;
}

#leftPanel p {
    font-weight: bold;
}

#settingsButtonDiv {
    /* outline: 1px solid black; */
    width: 100%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
}

#rightPanel {
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.hidden {
    display: none;
}

#profileInfo {
    /* outline: 1px solid blue; */
    height: 500px;
    width: 100%;
}